<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body x="<%= bodyEx %>" id="body">
    <ul>
    <% bookList.forEach(function (book){  %>
      <li><a href="/renderer/<%= book['title'] %>"> <%= book['title'] %></a></li>
    <% }); %>
</ul>

<form method="post" action="/refresh">
    <button type="submit">Scan for addition</button>
</form>

</body>
</html>