<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="area" x="<%= bookLoc %>" dir="rtl">
        <button id="left">Left</button>
        <button id="right">Right</button>
        <button id="dark">Dark Mode</button>
    </div>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
    <script>
        // epubjs.Hooks.register("beforeChapterDisplay").page = function (callback, renderer) {
        //         renderer.request = new EPUBJS.core.request({
        //             withCredentials: false,
        //             headers: {},
        //             credentials: 'omit',
        //             retry: {
        //                 limit: 20,
        //                 factor: 3,
        //                 minTimeout: 500,
        //                 maxTimeout: 1000 * 60 * 2,
        //                 randomize: true,
        //             },
        //         });

        //         callback();
        //     };



        let bookLoc = document.getElementById("area").getAttribute("x");
        var book = ePub("/books/" + bookLoc);
        var rendition = book.renderTo("area", { method: "continuous", width: "100%", height: 600 });
        var displayed = rendition.display();


        document.getElementById("right").addEventListener("click", function () {
            rendition.next();
        });

        document.getElementById("left").addEventListener("click", function () {
            rendition.prev();
        });

        document.getElementById("area").addEventListener("keydown", function (event) {
            let kc = event.keyCode;
            switch (kc) {
                case 37:
                    rendition.prev();
                    break;
                case 39:
                    rendition.next();
                    break;
            
                default:
                    break;
            }
        });

        document.getElementById("dark").addEventListener("click", function () {
            document.body.classList.add(".dark")
        });




    </script>

  

    
</body>
</html>